<h1>Hardware Categories</h1>

<%= link_to 'New Hardware Category', "/hardware_categories/new?no_layout=1", :class => 'btn btn-primary pull-right mbxx mrx modal-trigger'%>


<table class="table table-bordered">
  <thead>
  <tr>
    <th><%= nonsortable 'sort_priority', 'Priority' %></th>
    <th><%= nonsortable 'name', 'Hardware Category Name' %></th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody class="hardware_category_sort">
  <% @hardware_categories.each do |hardware_category| %>
    <tr class="hardware_category" data-id="<%= hardware_category.id %>">
      <td class="sort_handle"><%= hardware_category.sort_priority %></td>
      <td class="editable large3" data-headers="/hardware_categories/update_hardware_category"  id="name-<%= hardware_category.id %>"><%= hardware_category.name %></td>
      <td class="actions">
        <%= link_to hardware_category, method: :delete, data: { confirm: "Are you sure you want to delete this category? \n" + hardware_category.name }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
          <i class="icon-trash" alt="delete"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
