<h1>Process Categories</h1>

<%= link_to 'New Process     Category', "/part_process_categories/new?no_layout=1", :class => 'btn btn-primary pull-right mbxx mrx modal-trigger'%>


<table class="table table-bordered">
  <thead>
  <tr>
    <th><%= nonsortable 'sort_priority', 'Priority' %></th>
    <th><%= nonsortable 'name', 'Process Category Name' %></th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody class="part_process_category_sort">
  <% @part_process_categories.each do |part_process_category| %>
    <tr class="part_process_category" data-id="<%= part_process_category.id %>">
      <td class="sort_handle"><%= part_process_category.sort_priority %></td>
      <td class="editable large3" data-headers="/part_process_categories/update_part_process_category"  id="name-<%= part_process_category.id %>"><%= part_process_category.name %></td>
      <td class="actions">
        <%= link_to part_process_category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
          <i class="icon-trash" alt="delete"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
