<%= simple_form_for(@part, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :part_number %>
    <%= f.input :drawing_number %>
    <%= f.input :description, :label => 'Comment' %>
    <%= f.input :attachment, :as => :file %>
    <% if @part.attachment? %>
        <%= link_to @part.attachment_file_name, @part.attachment.url, :class => "product-attachment" %>
    <% end %>
    <%= f.association :part_processes, :as => :select,
      :input_html => {:"data-placeholder" => "Choose processes"} %>
  </div>

    <div id="required-hardwares">
      <%= f.simple_fields_for :required_hardwares do |required_hardware| %>
          <%= render 'required_hardware_fields', :f => required_hardware %>
      <% end %>
      <div class="links2">
        <%= link_to_add_association 'Attach Hardware', f, :required_hardwares, :class => 'btn' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', parts_path, :class => 'btn' %>
  </div>
<% end %>
