<%= simple_form_for(@part, :html => { :class => 'form-inline', :multipart => true }) do |f| %>
    <%= f.error_notification %>
    <table class="table">
      <tr>
        <th>Part Number</th>
        <th>Comment</th>
        <th>Attachment</th>
      </tr>
      <tr>
        <% if view == 'new' %>
            <td><%= f.input :part_number, :label => false %></td>
            <td><%= f.input :description, :label => false %></td>
        <% else %>
            <td class="editable large" data-headers="/parts/update_part" id="part_number-<%= @part.id%>"><%= @part.part_number.upcase %></td>
            <td class="editable large" data-headers="/parts/update_part" id="description-<%= @part.id%>"><%= @part.description %></td>
        <% end %>
        <td class="large">
          <%= f.fields_for :attachments do |attachment| %>
            <% unless attachment.object.new_record? %>
              <div>
                <%= link_to attachment.object.name, attachment.object.file.url, :target => "_blank" %>

                <%= attachment.label :_destroy %>
                <%= attachment.check_box :_destroy %>
              </div>
            <% end %>        
          <% end %>


          <%= f.fields_for :attachments do |attachment| %>

            <% if attachment.object.new_record? %>
              <%= attachment.file_field :file %>
            <% end %>

          <% end %>

        </td>
      </tr>
      <tr>
        <th>Part Processes</th>
        <th>Required Hardware</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <%= f.association :part_processes, :label => false, 
            :collection => PartProcessCategory.order(:sort_priority),
            :as => :grouped_select, :group_method => :part_processes_ordered_by_priority,
            :input_html => {:"data-placeholder" => "Choose processes", :multiple => :multiple} %>

          <% if @part.required_processes.length >0  %>
              <table class="table table-condensed table-bordered parts-processes"  data-id="<%= @part.id %>">
                <thead>
                    <tr>
                      <th class="span1">Priority</th>
                      <th>Name</th>
                    </tr>
                </thead>
                <tbody  class="required_process_lines"  data-id="<%= @part.id %>">
                    <% @part.required_processes.order("required_process_priority asc").each_with_index do |required_process, i|%>
                        <tr class="required-process"  data-id="<%= required_process.id %>">
                          <td class="sort_handle"><% if required_process.required_process_priority?%><%=required_process.required_process_priority%><%else%>0<%end%></td>
                          <td><%= required_process.part_process.name %></td>
                        </tr>
                    <% end %>
                </tbody>
              </table>
          <% end %>

        </td>
        <td class="hardware-cell">
          <table class="table table-condensed">
            <thead>
                <% if view == 'new' %>
                    <tr class="hide">
                <% else %>
                    <tr>
                <% end %>
                  <th class="req-hardware">Hardware</th>
                  <th class="hardware-qty">Qty</th>
                  <th class="hardware-remove">&nbsp;</th>
                </tr>
            </thead>
            <tbody id="required-hardwares">
                <%= f.simple_fields_for :required_hardwares do |required_hardware| %>
                    <%= render 'required_hardware_fields', :f => required_hardware %>
                <% end %>
                <tr>
                  <td colspan="3" class="top">
                    <%= link_to_add_association 'Add Hardware', f, :required_hardwares, :class => 'btn',
                                                :"data-association-insertion-node" => '#required-hardwares',
                                                :"data-association-insertion-method" => "prepend"
                    %>
                  </td>
                </tr>
            </tbody>
          </table>
        </td>
        <td><%= f.submit nil, :class => 'btn btn-primary btn-small' %></td>
      </tr>
    </table>

<% end %>

