<h1>Parts</h1>

<%= link_to 'New Part', new_part_path, :class => 'btn btn-primary pull-right' %>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Part number</th>
        <th>Drawing number</th>
        <th>Comments</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= link_to part.part_number, edit_part_path(part) %></td>
        <td><%= part.drawing_number %></td>
        <td><%= part.description %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_part_path(part), :class => 'btn btn-small' %>
          <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @collection, :renderer => BootstrapPagination::Rails %>


