<%= simple_form_for(@station, :remote => true, :html => { :class => 'form-horizontal condensed-form' }) do |f| %>
    <%= f.error_notification %>

    <div class="modal-body">
      <%= f.input :name, :label => "Station Name" %>
      <%= f.input :location, :label => "Location" %>
      <%= f.input :notes, :label => "Notes" %>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>

