<div class="span12 box">
   <% if params[:id] %>
      <h3><%= station.name %></h3>
   <% else %>
      <h3><%= link_to station.name, index_floor_stations_path+"?id="+station.id.to_s %></h3>
   <% end %>
  <% if station.users.length > 0 %>
      <table class="table">
        <tbody>
        <% station.users.order('name asc').each do |user| %>
            <tr>
              <td>
                <h4><%= user.name %></h4>
                <div class="station-details">
                  <% if user.not_completed_processes.length > 0 %>
                      <table class="table table-condensed table-bordered table-striped" data-id="<%= user.id %>">
                        <thead>
                        <tr>
                          <th>Process Name</th>
                          <th>Part Number</th>
                          <th>Qty</th>
                          <th>Attachment(s)</th>
                          <th>Comments</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody  class="user-process-lines"  data-id="<%= user.id %>">
                        <% user.not_completed_processes.each do |process| %>
                            <tr class="process_status"  data-id="<%= process.id %>">
                              <td><%= process.part_process.name %></td>
                              <td><%= process.order_line.part.name %></td>
                              <td><%= process.order_line.quantity %></td>
                              <td>
                                <% process.order_line.part.attachments.each do |attachment| %>
                                    <div>
                                      <%= link_to attachment.name, attachment.file.url , :target => "_blank" %>
                                    </div>
                                <% end %>
                              </td>
                              <td><%= process.comment %></td>
                              <td class="process-statuses span2">
                                <div class="btn-group line-status" data-toggle="buttons-radio">
                                  <% OrderLine::FLOOR_STATUSES.each do |order_line_status| %>
                                      <% extra_class = "" %>
                                      <% if order_line_status == process.status %>
                                          <% extra_class = "active" %>
                                          <% if process.status  == "assigned" %>
                                              <% extra_class = extra_class + " btn-danger" %>
                                          <% end %>
                                          <% if process.status  == "in progress" %>
                                              <% extra_class = extra_class + " btn-info" %>
                                          <% end %>
                                          <% if process.status  == "completed" %>
                                              <% extra_class = extra_class + " btn-success" %>
                                          <% end %>
                                      <% end %>
                                      <button class="btn btn-small <%= extra_class %>" data-value="<%= order_line_status %>"><%= order_line_status[0].upcase %></button>
                                  <% end %>
                                </div>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                  <% else %>
                      <p>Slacking off</p>
                  <% end %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
    <p>There are no users assigned to this work staion</p>
  <% end %>
</div>


