<h1>Stations</h1>

<%= link_to 'New User', new_user_path+"?no_layout=1", :class => 'btn btn-primary pull-right mbx mrx modal-trigger' %>
<%= link_to 'New Station', "/stations/new?no_layout=1", :class => 'btn btn-primary pull-right mrx modal-trigger mbxx'%>


<table class="table table-bordered table-striped stations-table">
  <thead>
  <tr>
    <th><%= sortable "created_at" %></th>
    <th><%= sortable "name", "Name" %></th>
    <th>Location</th>
    <th>Notes</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% if @stations.length > 0 %>
      <% @stations.each do |station| %>
          <tr>
            <td class="span2"><a class="accordion-toggle" data-toggle="collapse" href="#collapse<%= station.id %>"><i class="icon-minus"></i><%= display_date(station.created_at.to_date()) %></a></td>
            <td class="editable medium" data-headers="/stations/update_station"  id="name-<%= station.id %>"><%= station.name %></td>
            <td class="editable medium" data-headers="/stations/update_station"  id="location-<%= station.id %>"><%= station.location %></td>
            <td class="editable medium" data-headers="/stations/update_station"  id="notes-<%= station.id %>"><%= station.notes %></td>
            <td class="actions fixed">
              <%= link_to station, :class => 'btn btn-small btn-info', :title => 'Show' do%>
                  <i class="icon-folder-open"></i>
              <% end %>
              <%= link_to edit_station_path(station)+"?no_layout=1", :class => 'btn btn-small modal-trigger', :title => 'Edit' do%>
                  <i class="icon-edit"></i>
              <% end %>
              <%= link_to station, method: :delete, data: { confirm: "Are you sure you want to delete this station? \n" + station.name}, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
                  <i class="icon-trash" alt="delete"></i>
              <% end %>
            </td>
          </tr>
          <% if station.users.length > 0 %>
            <tr>
              <td colspan="5" class="station-details">
                <div class="accordion-body collapse in" id="collapse<%= station.id %>">
                  <%= render :partial => 'users/user_info',
                             :object => station,
                             :as => 'station',
                             :locals => {:view => 'station'} %>
                </div>

              </td>
            </tr>
          <% end %>
      <% end %>
  <% else %>
      <tr>
        <td colspan="5">There are no stations</td>
      </tr>
  <% end %>
  </tbody>
</table>

