<h1><%= @station.name %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Location</th>
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="editable large" data-headers="/stations/update_station" id="location-<%= @station.id%>"><%= @station.location %></td>
    <td class="editable large" data-headers="/stations/update_station" id="notes-<%= @station.id%>"><%= @station.notes %></td>
  </tr>
  </tbody>
</table>


<% if @station.users.length > 0 %>
<h2>Users</h2>

<%= render :partial => 'users/user_info',
           :object => @station,
           :as => 'station',
           :locals => {:view => 'station'} %>

<% end %>



