<% if @latest_comment_id == comment.id %>
    <% @is_seen = true %>
<% end %>
<div class="comment-container <% if @is_seen == false%>new<%end%>" data-id="<%= comment.id %>">
  <div class="row">
    <!--<div class="span1">
      <% if comment.user.try(:avatar?) %>
        <%= image_tag comment.user.avatar.url(:thumb) %>
      <% else %>
        <%= image_tag "silhouette.png" %>
      <% end %>
      <span class="actions">
        <% extra_param = "" %>
        <% if comment.sample_lines.length >0 %>
          <% extra_param = "&sample=true" %>
        <% end %>
        <% if comment.user.try(:id) == current_user.id %>
          <%= link_to edit_comment_path(comment)+"?no_layout=1"+extra_param, :class => 'edit modal-trigger', :title => 'Edit' do%>
            <i class="icon-edit"></i>
          <% end %>
        <% end %>
        <% if comment.user.try(:id) == current_user.id or current_user.admin?  %>
          <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'delete', :title => 'Delete' do%>
            <i class="icon-trash" alt="delete"></i>
          <% end %>
        <% end %>
        <%= link_to new_comment_path(:no_layout => 1, :parent_id => comment.id), :class => 'reply modal-trigger', :title => 'Reply' do%>
          <i class="icon-comments-alt"></i>
        <% end if comment.ancestry.nil? %>
      </span>
    </div>-->
    <div class="span7 comment-details">
      <div class="username"><%= comment.user.try(:name) %></div>
      <div class="date"><em><%= comment.created_at.to_formatted_s(:long) %></em></div>
      <div class="message">
        <% if comment.sample_lines.length >0 %>
          Sample for: <strong><%= comment.customer_name %></strong>
          <% if comment.contact_name? %><br />Contact Name:<strong><%= comment.contact_name %></strong><% end %>
          <table class="table table-bordered table-condensed table-striped mtx">
            <thead>
              <tr>
                <th>Part #</th>
                <th>New Part #</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <% comment.sample_lines.each do |sample_line| %>
                <tr>
                  <td class="comment"><% if sample_line.part_id? %><%= sample_line.part.name %><% end %></td>
                  <td class="comment"><%= sample_line.new_part_number %></td>
                  <td><%= sample_line.quantity %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if comment.address? or comment.shipping_account_info? or comment.comment? %>
            <table class="table table-bordered table-condensed">
              <% if comment.address? %>
                <tr>
                  <td class="small"><strong>Address:</strong></td>
                  <td><%= simple_format comment.address %></td>
                </tr>
              <% end %>
              <% if comment.shipping_account_info? %>
                <tr>
                  <td><strong>Shipping Info:</strong></td>
                  <td><%= simple_format comment.shipping_account_info %></td>
                </tr>
              <% end %>
              <% if comment.comment? %>
                <tr>
                  <td><strong>Comment:</strong></td>
                  <td><%= simple_format comment.comment %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% else %>
          <%= simple_format comment.message %>
        <% end %>
      </div>
    </div>
    <div class="comment-actions span6">
      <% extra_param = "" %>
      <% if comment.sample_lines.length >0 %>
          <% extra_param = "&sample=true" %>
      <% end %>
      <% if comment.user.try(:id) == current_user.id %>
          <%= link_to edit_comment_path(comment)+"?no_layout=1"+extra_param, :class => 'edit modal-trigger', :title => 'Edit' do%>
              <i class="icon-edit"></i>
          <% end %>
      <% end %>
      <% if comment.user.try(:id) == current_user.id or current_user.admin?  %>
          <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'delete', :title => 'Delete' do%>
              <i class="icon-trash" alt="delete"></i>
          <% end %>
      <% end %>
      <%= link_to new_comment_path(:no_layout => 1, :parent_id => comment.id), :class => 'reply modal-trigger', :title => 'Reply' do%>
          <i class="icon-comments-alt"></i>
      <% end if comment.ancestry.nil? %>
    </div>
  </div>
</div>

