<% @is_seen = false %>
<div class="row">
  <div class="span7">
    <h2>Comments <%= link_to 'New Sample', "/comments/new?sample=true&no_layout=1", :class => 'btn btn-small btn-primary pull-right mrx mbxx modal-trigger'%> <%= link_to 'New Comment', "/comments/new?no_layout=1", :class => 'btn btn-small btn-primary pull-right mrx mbxx modal-trigger'%></h2>
    <%= nested_comments @comments %>
  </div>
  <div class="span5 scroll">
    <h2>Upcoming Orders</h2>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>P/O #</th>
        <th>Customer</th>
        <th>Part #</th>
        <th>Qty</th>
        <th>Ship Date</th>
      </thead>
      <tbody>
        <% @order_lines.each do |order_line| %>
            <tr class="<%= order_line.color %>">
              <td><%= order_line.order.purchase_order %></td>
              <td><%= order_line.order.client.name %></td>
              <td><%= order_line.part.name %></td>
              <td><%= number_with_delimiter(order_line.quantity) %></td>
              <td><%= order_line.ship_date %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'View All', orders_path%>
  </div>

</div>





