<% @is_seen = false %>
<div class="row">
  <div class="span4">
    <h2>Comments <%= link_to 'New Sample', "/comments/new?sample=true&no_layout=1", :class => 'btn btn-small btn-primary pull-right mrx mbxx modal-trigger'%> <%= link_to 'New Comment', "/comments/new?no_layout=1", :class => 'btn btn-small btn-primary pull-right mrx mbxx modal-trigger'%></h2>
    <% if @comments.length > 0 %>
        <%= nested_comments @comments %>
    <% else %>
        There are no comments
    <% end %>
  </div>
  <div class="span8 scroll">
    <h2>Upcoming Orders</h2>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>P/O #</th>
        <th>Customer</th>
        <th>Part #</th>
        <th>Qty</th>
        <th>Comment</th>
        <th>Breakdown</th>
        <th>PU Time</th>
      </thead>
      <tbody>
        <% @order_lines.each do |order_line| %>
            <tr class="<%= order_line.color %>">
              <td><%= order_line.order.purchase_order %></td>
              <td>
                <% if order_line.order.client %>
                    <%= order_line.order.client.name %>
                <% end %>
              </td>
              <td>
                <% if order_line.part %>
                    <%= order_line.part.name.upcase %>
                <% end %>
              </td>
              <td><%= number_with_delimiter(order_line.quantity) %></td>
              <td class="editable medium" data-headers="/order_lines/update_order_line"  id="comment-<%= order_line.id%>" data-content="<%= order_line.comment %>"><%= order_line.comment %></td>
              <td class="editable medium" data-headers="/order_lines/update_order_line"  id="breakdown-<%= order_line.id%>" data-content="<%= order_line.breakdown %>"><%= order_line.breakdown %></td>
              <td class="editable pickuptime" data-headers="/order_lines/update_order_line" id="pickuptime-<%= order_line.id%>"><%= order_line.pickuptime %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'View All', orders_path%>
  </div>

</div>





