<%= simple_form_for(@user, :remote => true, :html => { :class => 'form-horizontal condensed-form' }) do |f| %>
    <%= f.error_notification %>

    <div class="modal-body">
      <%= f.input :username %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.association :station, :label => "Station", :collection => Station.order("LOWER(name)").all,
                        :input_html => {:"data-placeholder" => "Choose a station"} %>
      <% if @user.avatar? %>
          <div class="control-group">
            <label class="control-label">Avatar</label>
            <div class="controls">
              <img src="<%=@user.avatar.url%>" width="100" height="100" />
            </div>
          </div>
      <% end %>
      <%= f.input :avatar, :as => :file, :label => false %>
      <%= f.input :status, :collection => User::USER_TYPES, :label=>"Type" %>
      <%= f.input :password %>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>

