<h1>Users</h1>

<%= link_to 'New User', new_user_path+"?no_layout=1", :class => 'btn btn-primary pull-right mbx mrx modal-trigger' %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>User Name</th>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td class="editable medium" data-headers="/users/update_user"  id="username-<%= user.id %>"><%= user.username %></td>
        <td class="editable medium" data-headers="/users/update_user"  id="name-<%= user.id %>"><%= user.name %></td>
        <td class="editable medium" data-headers="/users/update_user"  id="email-<%= user.id %>"><%= user.email %></td>
        <td class="editable medium" data-headers="/users/update_user"  id="status-<%= user.id %>"><%= user.status %></td>
        <td class="actions">
          <%= link_to edit_user_path(user)+"?no_layout=1", :class => 'btn btn-small modal-trigger', :title => 'Edit' do%>
              <i class="icon-edit"></i>
          <% end %>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
              <i class="icon-trash" alt="delete"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
