<h1>Listing part_processes</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @part_processes.each do |part_process| %>
  <tr>
    <td><%= part_process.name %></td>
    <td><%= part_process.description %></td>
    <td>
      <%= link_to 'Show', part_process, :class => 'btn btn-mini' %>
      <%= link_to 'Edit', edit_part_process_path(part_process), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', part_process, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part process', new_part_process_path, :class => 'btn btn-primary' %>
