<%= simple_form_for(@client, :remote => true, :html => { :class => 'form-horizontal condensed-form' }) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.input :name, :label => "Customer Name" %>
    <%= f.input :payment_instructions, :label => "Payment Instructions" %>
    <%= f.input :shipping_instructions, :label => "Shipping Instructions" %>
    <%= f.input :special_instructions, :label => "Special Instructions" %>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<!--
<div class="modal-body">
  <p>One fine body…</p>
</div>-->
