<h1>Listing clients</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td>
      <%= link_to 'Show', client, :class => 'btn btn-mini' %>
      <%= link_to 'Edit', edit_client_path(client), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @collection, :renderer => BootstrapPagination::Rails %>

<br />

<%= link_to 'New Client', new_client_path, :class => 'btn btn-primary' %>
