<h1>Listing clients</h1>

<%= render 'search_form' %>
<%= link_to 'New Client', "#modal-container", :class => 'btn btn-primary pull-right mrx', :"data-toggle" => "modal" %>

<% if @clients.length > 0 %>

    <% if params.fetch(:client, {})[:query].present? %>
        <div class="row">
          <div class="span9 mbxx">
            your search for <em><strong>"<%= params[:client][:query] %>"</strong></em>  returned <strong><%= pluralize(@clients.length, 'result') %></strong>
          </div>
        </div>
    <% end %>

    <table class="table table-striped">
      <tr>
        <th>Client Name</th>
        <th class="actions">&nbsp;</th>
      </tr>

    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, edit_client_path(client)%></td>
        <td class="actions">
          <%= link_to 'Edit', edit_client_path(client), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
    </table>

    <%= will_paginate @collection, :renderer => BootstrapPagination::Rails %>
<% else %>
    <div class="row">
      <div class="span9 mbxx">
        There are no results
      </div>
    </div>
<% end %>

