<h1><%= @client.name %></h1>

<h2>Orders</h2>


<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
      <tr>
        <th>P/O Number</th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr>
  </thead>
  <tbody>
      <% @client.orders.each do |order| %>
        <% order.order_lines.each do |order_line| %>
          <tr>
            <td><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= order_line.id %>"><%= order.purchase_order %></a></td>
            <td><%= order_line.part.name %></td>
            <td><%= order_line.quantity %></td>
            <td><%= order_line.due_date %></td>
            <td><%= order_line.status %></td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="accordion-body collapse in" id="collapse<%= order_line.id %>">
                <h3>Process Status</h3>
                <% order_line.order_line_process_statuses.each do |process_status| %>
                    <%= process_status.part_process.name %> - <%= process_status.status %>  <BR />
                <% end %>
                <h3>Part Hardware</h3>

                <% order_line.part.required_hardwares.each do |hardware| %>
                    <%= hardware.hardware.name %> - <%= hardware.quantity %> <br />
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

