<h1><%= @client.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Payment Instructions</th>
      <th>Shipping Instructions</th>
      <th>Special Instructions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="editable large" headers="/clients/update_client" id="payment_instructions-<%= @client.id%>"><%= @client.payment_instructions %></td>
      <td class="editable large" headers="/clients/update_client" id="shipping_instructions-<%= @client.id%>"><%= @client.payment_instructions %></td>
      <td class="editable large" headers="/clients/update_client" id="special_instructions-<%= @client.id%>"><%= @client.payment_instructions %></td>
    </tr>
  </tbody>
</table>



<h2>Orders</h2>


<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
      <tr>
        <th>#</th>
        <th class="fixed"><%= sortable "order_id", "P/O Number" %></th>
        <th class="fixed"><%= sortable "parts.part_number", "Part #" %></th>
        <th class="fixed"><%= sortable "quantity", "Qty" %></th>
        <th class="fixed"><%= sortable "created_at" %></th>
        <th class="fixed"><%= sortable "due_date" %></th>
        <% if params["display"] != "shipped" %>
            <th class="fixed"><%= sortable "ship_date" %></th>
        <% else %>
            <th class="fixed"><%= sortable "actual_ship_date" %></th>
        <% end %>
        <th>Comment</th>
        <th>Production Comment</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% if @client.order_lines.length > 0 %>
      <%= render :partial => 'order_lines/order_line', :collection => @client.order_lines.order(sort_by_field) %>
      <% end %>
      <% if @client.order_lines.length == 0 %>
          <%= render :partial => 'order_lines/no_orders' %>
      <% end %>
  </tbody>
</table>

