<h1><%= @client.name %></h1>

<h2>Orders</h2>


<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
      <tr>
        <th><%= sortable "order_id", "P/O Number" %></th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th><%= sortable "due_date" %></th>
        <th>Comment</th>
        <th>Production Comment</th>
        <th><%= sortable "status" %></th>
      </tr>
  </thead>
  <tbody>
      <% if @client.order_lines.length > 0 %>
      <%= render :partial => 'order_lines/order_line', :collection => @client.order_lines.order(sort_by_field) %>
      <% end %>
      <% if @client.order_lines.length == 0 %>
          <%= render :partial => 'order_lines/no_orders' %>
      <% end %>
  </tbody>
</table>

