<h1><%= @client.name %></h1>

<h2>Orders</h2>


<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
      <tr>
        <th><%= sortable "order_id", "P/O Number" %></th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th><%= sortable "due_date" %></th>
        <th><%= sortable "status" %></th>
      </tr>
  </thead>
  <tbody>
    <%= render :partial => 'order_lines/order_line', :collection => @client.order_lines.order(sort_by_field) %>
  </tbody>
</table>

