<%= simple_form_for(@order, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input type="hidden" name="success_type" id="success-type" value="regular" />
    <%= f.input :purchase_order %>
    <%= f.association :client, :label => "Customer", :collection => Client.order("LOWER(name)").all,
      :input_html => {:"data-placeholder" => "Choose a customer"} %>
    <div id="file_attachments">
      <%= f.simple_fields_for :attachments do |attachment_form| %>
        <%= render 'attachment_fields', :f => attachment_form %>
      <% end %>
    </div>
    <div class="control-group file optional">
      <label class="file optional control-label">File</label>
      <div class="controls">
        <%= link_to_add_association 'Add Attachment', f, :attachments, :class => 'btn',
          :"data-association-insertion-node" => '#file_attachments',
          :"data-association-insertion-method" => "append"
        %>
      </div>
    </div>
    <table class="table table-condensed">
      <thead>
          <tr>
            <th>Line #</th>
            <th>Part</th>
            <th>Dock Date</th>
            <th>Shipping Method</th>
            <th>Ship Date</th>
            <th>Qty</th>
            <% if current_user.admin? %>
            <th>Price</th>
            <th>Setup Cost</th>
            <% end %>
            <th>Comment</th>
            <th></th>
          </tr>
      </thead>
      <tbody  id="order_lines">
          <%= f.simple_fields_for :order_lines do |order_line| %>
            <%= render 'order_line_fields', :f => order_line %>
          <% end %>
          <tr>
            <td colspan="11">
              <div class="links">
                <%= link_to_add_association 'Add Line', f, :order_lines, :class => 'btn add-line',
                  :"data-association-insertion-node" => '#order_lines',
                  :"data-association-insertion-method" => "append"
                %>
                <a href="#" class="btn duplicate-line">Duplicate</a>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if type == "new" %>
        <%= link_to 'Create Order +', '#', :class => 'btn btn-success create-plus' %>
    <% end %>
    <%= link_to 'Cancel', orders_path, :class => 'btn' %>
  </div>
<% end %>



