<%= simple_form_for(@order, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :purchase_order %>
    <%= f.association :client, :label => "Customer",
      :input_html => {:"data-placeholder" => "Choose a customer"} %>

    <div id="order_lines">
      <%= f.simple_fields_for :order_lines do |order_line| %>
        <%= render 'order_line_fields', :f => order_line %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Line', f, :order_lines, :class => 'btn' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', orders_path, :class => 'btn' %>
  </div>
<% end %>

