<%= simple_form_for(@order, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :purchase_order %>
    <%= f.association :client, :label => "Customer", :collection => Client.order("LOWER(name)").all,
      :input_html => {:"data-placeholder" => "Choose a customer"} %>
    <%= f.input :attachment, :as => :file %>

    <table class="table table-condensed">
      <thead>
          <tr>
            <th>Line #</th>
            <th>Part</th>
            <th>Dock Date</th>
            <th>Shipping Method</th>
            <th>Ship Date</th>
            <th>Qty</th>
            <% if current_user.admin? %>
            <th>Price</th>
            <th>Setup Cost</th>
            <% end %>
            <th>Comment</th>
            <th></th>
          </tr>
      </thead>
      <tbody  id="order_lines">
          <%= f.simple_fields_for :order_lines do |order_line| %>
            <%= render 'order_line_fields', :f => order_line %>
          <% end %>
          <tr>
            <td colspan="11">
              <div class="links">
                <%= link_to_add_association 'Add Line', f, :order_lines, :class => 'btn',
                  :"data-association-insertion-node" => '#order_lines',
                  :"data-association-insertion-method" => "prepend"
                %>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', orders_path, :class => 'btn' %>
  </div>
<% end %>

