<tr class="nested-fields">
  <td>
  <%= f.association :part, :collection => Part.order(:part_number).all,
      :input_html => {:"data-placeholder" => "Choose part"} %>

  <%= f.input :due_date, :as => :string,:input_html => {:class => "due-date"} %>
  <%= f.input :ship_date, :as => :string,:input_html => {:class => "ship-date"} %>
  <%= f.input :quantity %>
  <%= f.input :comment %>
  <%= link_to_remove_association "Remove Line", f, :class => "btn btn-danger" %>
  </td>
</tr>

