<h1>Listing orders</h1>

<table class="table table-striped">
  <tr>
    <th>Purchase order</th>
    <th>Client</th>
    <th>Actions</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.purchase_order %></td>
    <td><%= order.client_id %></td>
    <td>
      <%= link_to 'Show', order, :class => 'btn btn-mini' %>
      <%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path, :class => 'btn btn-primary' %>
