<h1>Listing order lines</h1>

<%= simple_form_for(:search, :method => "GET", :html => { :id => "search_form", :class => 'form-horizontal' }) do |f| %>

  <%= f.input :client, :collection => Client.all.collect{|x| [x.name, x.id] }.unshift(["None selected", nil]),
    :selected => params[:search][:client],
    :input_html => { :"data-placeholder" => "Select a client" } %>

  <%= f.input :po_number, :collection => Order.all.collect{|x| [x.purchase_order, x.id] }.unshift(["None selected", nil]),
    :selected => params[:search][:po_number],
    :input_html => {:"data-placeholder" => "Select a purchase order"} %>

  <%= f.input :part_id, :collection => Part.all.collect{|x| [x.name, x.id] }.unshift(["None selected", nil]),
    :selected => params[:search][:part_id],
    :input_html => {:"data-placeholder" => "Select a part"} %>

  <%= f.input :status, :collection => OrderLine::STATUSES.collect{|x| [x, x] }.unshift(["None selected", nil]),
    :selected => params[:search][:status],
    :input_html => {:"data-placeholder" => "Select a status"} %>


  <div class="form-actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Client</th>
      <th><%= sortable "order_id", "P/O Number" %></th>
      <th>Part Number</th>
      <th>Quantity</th>
      <th><%= sortable "due_date" %></th>
      <th><%= sortable "status" %></th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'order_lines/order_line', :collection => @order_lines, :locals => { :show_client => true } %>
  </tbody>
</table>

<%= will_paginate @order_lines, :renderer => BootstrapPagination::Rails %>

<br />

<%= link_to 'New Order', new_order_path, :class => 'btn btn-primary' %>
