<h1>Order Lines</h1>

<%= render 'order_line_search' %>
<%= link_to 'New Order', new_order_path, :class => 'btn btn-primary pull-right mrx' %>


<table class="table">
  <thead>
    <tr>
      <th><%= sortable "clients.name", "Customer" %></th>
      <th><%= sortable "order_id", "P/O Number" %></th>
      <th>Part Number</th>
      <th>Quantity</th>
      <th><%= sortable "due_date" %></th>
      <th>Comment</th>
      <th>Production Comment</th>
      <th><%= sortable "status" %></th>
      <th class="edit"></th>
      <th class="delete"></th>
    </tr>
  </thead>

  <tbody>
      <% if @order_lines.length > 0 %>
        <%= render :partial => 'order_lines/order_line', :collection => @order_lines, :locals => { :show_client => true } %>
      <% else %>
        <%= render :partial => 'order_lines/no_orders', :locals => { :show_client => true } %>
      <% end %>
  </tbody>
</table>

<%= will_paginate @order_lines, :renderer => BootstrapPagination::Rails %>

<br />


