
<% if params["display"] == "shipped" %>
    <h1>Shipped Order Lines</h1>
<% else %>
    <h1>Order Lines</h1>
<% end %>

<% param = '' %>
<% if params["shipped"] %>
    <% param = 'shipped' %>
<% end %>
<% if params["reset"] %>
    <% param = 'reset' %>
<% end %>

<% if param != "" %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">×</a>
      <% if param == "shipped" %>
        order lines shipped successfully.  Click <%= link_to 'Shipped Orders', shipped_orders_url %> to view
      <% else %>
        order line has been reset
      <% end %>
    </div>

<% end %>

<%= render 'order_line_search' %>

<% if params["display"] != "shipped" %>
    <div class="dropdown pull-right">
        <a class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#colorChange">
          <i class="icon-adjust"></i>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% OrderLine::COLORS.each do |order_line_color| %>
              <li><a href="#" data-sort="<%=order_line_color.split("-")[0] %>" class="change-color"><%= order_line_color.split("-")[1] %></a></li>
          <% end %>
        </ul>
    </div>

    <%= link_to "#", :class => 'ship-orders btn-success btn btn-small pull-right mrs', :title => 'Ship Orders' do%>
        <i class="icon-plane"></i>
    <% end %>

    <%= link_to new_order_path, :class => 'btn btn-primary btn-small pull-right mrs', :title => 'New' do%>
        <i class="icon-pencil"></i>
    <% end %>

<% end %>



<table class="table table-bordered" id="orders-table">
  <thead>
    <tr>
      <% if params["display"] != "shipped" %>
          <th class="fixed"><%= sortable "created_at" %></th>
      <% end %>
      <th><%= sortable "clients.name", "Customer" %></th>
      <th class="fixed"><%= sortable "order_id", "P/O Number" %></th>
      <th>Line</th>
      <th class="fixed"><%= sortable "parts.part_number", "Part #" %></th>
      <th class="fixed"><%= sortable "quantity", "Qty" %></th>
      <th class="fixed"><%= sortable "due_date" %></th>
      <% if params["display"] != "shipped" %>
        <th class="fixed"><%= sortable "ship_date" %></th>
      <% else %>
          <th class="fixed"><%= sortable "actual_ship_date" %></th>
      <% end %>
      <th>Comment</th>
      <% if params["display"] != "shipped" %>
        <th>Prod Comment</th>
      <% else %>
          <th>Tracking #</th>
      <% end %>
      <th>
        <% if params["display"] != "shipped" %>
            <%= sortable "color" %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
      <% if @order_lines.length > 0 %>
        <%= render :partial => 'order_lines/order_line', :collection => @order_lines, :locals => { :show_client => true } %>
      <% else %>
        <%= render :partial => 'order_lines/no_orders', :locals => { :show_client => true } %>
      <% end %>
  </tbody>
</table>

<%= will_paginate @order_lines, :renderer => BootstrapPagination::Rails %>

<br />


