<% colspan = 9 %>
<% if params["display"] == "shipped" %>
    <% colspan = colspan - 1 %>
<% end %>

<% extraClass = '' %>
<% if params["display"] != "shipped" %>
    <% extraClass = order_line.color %>
<% end %>

<tr class="order_line <%= extraClass %>" data-id="<%= order_line.id %>">
  <% if @process_order_line_priority %>
    <td class="fixed sort_handle"><%= order_line.order_line_process_statuses.where(:part_process_id => @process_order_line_priority).first.order_line_priority %></td>
  <% end %>
  <% if params["display"] != "shipped" %>
      <td class="fixed"><%= display_date(order_line.created_at) %></td>
  <% end %>
  <% if local_assigns[:show_client].present? %>
    <% colspan += 1 %>
    <% if params["display"] != "shipped" %>
        <td class="fixed"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= order_line.id %>"><i class="icon-plus"></i> <%= order_line.order.client.name %></a></td>
    <% else %>
          <td class="fixed"><%= order_line.order.client.name %></td>
    <% end %>
    <td class="fixed"><%= order_line.order.purchase_order %></td>
  <% else %>
      <td class="fixed"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= order_line.id %>"><i class="icon-plus"></i> <%= order_line.order.purchase_order %></a></td>
  <% end %>
  <td class="fixed"><%= order_line.line_number %></td>
  <td class="fixed"><%= order_line.part.name.upcase %></td>
  <td class="editable qty" data-headers="/order_lines/update_order_line" id="quantity-<%= order_line.id%>"><%= order_line.quantity %></td>
  <% if params["display"] == "shipped" %>
    <td class="editable comment" data-headers="/order_lines/update_order_line" id="actual_ship_date-<%= order_line.id%>"><%= display_date(order_line.actual_ship_date) %></td>
  <% else %>
    <td class="fixed"><%= display_date(order_line.ship_date) %></td>
  <% end %>
  <td class="fixed"><%= display_date(order_line.due_date) %></td>
  <td class="editable large" data-headers="/order_lines/update_order_line"  id="comment-<%= order_line.id%>" data-content="<%= order_line.comment %>" data-substr="50"><%= truncate(order_line.comment, :length => 50) %></td>
  <% if params["display"] == "shipped" %>
    <td class="fixed editable comment" data-headers="/order_lines/update_order_line"  id="tracking_number-<%= order_line.id%>"><%= order_line.tracking_number %></td>
  <% end %>
  <td class="actions <% if params["display"] == "shipped" %>small<% end %> fixed <%= order_line.status.gsub(/\s+/, '-') %>">
    <span class="status btn btn-small" title="<%= order_line.status %>"><i class="icon-star-empty"></i></span>
    <% if params["display"] != "shipped" %>
        <%= link_to edit_order_path(order_line.order), :class => 'btn btn-small', :title => 'Edit' do%>
            <i class="icon-edit"></i>
        <% end %>
    <% end %>
    <%= link_to order_line, method: :delete, data: { confirm: "Are you sure? \n P/O #:" + order_line.order.purchase_order + "\nCustomer:" + order_line.order.client.name }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
        <i class="icon-trash" alt="delete"></i>
    <% end %>
    <% if params["display"] != "shipped" %>
        <% if local_assigns[:show_client].present? %>
            <input type="checkbox" name="ship-order-lines" class="ship-lines" value="ol-<%= order_line.id%>">
        <% end %>
    <% else %>
        <a href="#" data-id="<%= order_line.id %>" class="btn btn-warning btn-small unship" title="Unship"><i class="icon-repeat" alt="Roll back"></i></a>
    <% end %>
  </td>
</tr>
<% if params["display"] != "shipped" %>
<tr>
    <td colspan="<%= colspan %>" class="order-line-info hide">
        <div class="accordion-body collapse" id="collapse<%= order_line.id %>">
            <!--<h4>Order line details</h4>-->
          <div class="span5">
            <h5>Process</h5>
            <table class="table table-bordered table-condensed span5">
              <tr>
                <th>Process Name</th>
                <th>Status</th>
              </tr>
              <% order_line.process_statuses.each do |process_status| %>
                  <% if process_status.part_process %>
                  <tr class="process_status" data-id="<%= process_status.id %>">
                    <td class="span2"><%= process_status.part_process.name %></td>
                    <td>
                      <div class="btn-group line-status" data-toggle="buttons-radio">
                        <% OrderLine::STATUSES.each do |order_line_status| %>
                            <% extra_class = "" %>
                            <% if order_line_status == process_status.status %>
                                <% extra_class = "active" %>
                                <% if process_status.status == "pending" %>
                                    <% extra_class = extra_class + " btn-warning" %>
                                <% end %>
                                <% if process_status.status == "in progress" %>
                                    <% extra_class = extra_class + " btn-info" %>
                                <% end %>
                                <% if process_status.status == "completed" %>
                                    <% extra_class = extra_class + " btn-success" %>
                                <% end %>
                            <% end %>
                            <button class="btn btn-small <%= extra_class %>"><%= order_line_status %></button>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                  <% end%>
              <% end %>
            </table>
          </div>
          <div class="span5 middle">
            <h5>Hardware</h5>
            <table class="table table-bordered table-condensed span5 table-striped">
              <tr>
                <th>Hardware Name</th>
                <th>Part Qty</th>
                <th>Order Qty</th>
              </tr>
              <% order_line.part.required_hardwares.each do |hardware| %>
                  <tr>
                    <td><%= hardware.hardware.name %></td>
                    <td><%= hardware.quantity %></td>
                    <td><%= hardware.quantity * order_line.quantity %></td>
                  </tr>
              <% end %>
            </table>
          </div>
          <div class="span5">
            <h5>Additional Info</h5>
            <table class="table table-bordered table-condensed table-striped">
              <% if order_line.order.attachment? or order_line.part.attachments.present? or order_line.part.description? or order_line.order.client.payment_instructions? or order_line.order.client.shipping_instructions? or order_line.order.client.special_instructions? %>
                  <% if order_line.order.attachment? %>
                      <tr>
                        <td class="span2"><strong>Order Attachment:</strong></td>
                        <td><%= link_to order_line.order.attachment_file_name, order_line.order.attachment.url %></td>
                      </tr>
                  <% end %>
                  <% if order_line.part.attachments.present? %>
                      <tr>
                        <td class="span2"><strong>Part Drawing:</strong></td>
                        <td>
                          <% order_line.part.attachments.each do |attachment| %>
                            <div>
                              <%= link_to attachment.name, attachment.url %>
                            </div>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  <% if order_line.part.description? %>
                      <tr>
                        <td class="span2"><strong>Part Comment:</strong></td>
                        <td><%= order_line.part.description %></td>
                      </tr>
                  <% end %>
                  <% if order_line.order.client.payment_instructions?  %>
                      <tr>
                        <td class="span2"><strong>Payment Instructions:</strong></td>
                        <td><%= order_line.order.client.payment_instructions %></td>
                      </tr>
                  <% end %>
                  <% if order_line.order.client.shipping_instructions?  %>
                      <tr>
                        <td class="span2"><strong>Shipping Instructions:</strong></td>
                        <td><%= order_line.order.client.shipping_instructions %></td>
                      </tr>
                  <% end %>
                  <% if order_line.order.client.special_instructions?  %>
                      <tr>
                        <td class="span2"><strong>Special Instructions:</strong></td>
                        <td><%= order_line.order.client.special_instructions %></td>
                      </tr>
                  <% end %>
              <% else %>
                <tr>
                  <td>No special instructions</td>
                </tr>
              <% end %>
            </table>
            <% if order_line.versions.count > 1 %>
                <h5>Date changes</h5>
                <table class="table table-bordered table-condensed span5 table-striped">
                  <tr>
                    <th>Changed on</th>
                    <th>By</th>
                    <th>Old Value</th>
                  </tr>
                  <% order_line.versions.order("created_at desc").limit(5).each_with_index do |version,i| %>
                    <% if i>0 %>
                      <tr>
                        <td><%= version.created_at.to_s(:long) %></td>
                        <td><%= User.find_by_id(version.whodunnit).try(:username) %></td>
                        <td><%= version.reify.try(:due_date) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
            <% end %>
          </div>
        </div>
    </td>
</tr>
<% end %>
