<% colspan = 6 %>
<tr class="order_line <%= order_line.status.gsub(/\s+/, '-') %>" data-id="<%= order_line.id %>">
    <td><%= link_to 'Edit', edit_order_path(order_line.order), :class => 'btn btn-small' %></td>
    <% if local_assigns[:show_client].present? %>
        <% colspan = 7 %>
        <td><%= order_line.order.client.name %></td>
    <% end %>
  <td><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= order_line.id %>"><i class="icon-plus"></i> <%= order_line.order.purchase_order %></a></td>
    <td><%= order_line.part.name %></td>
    <td><%= order_line.quantity %></td>
    <td><%= order_line.due_date %></td>
    <td class="status-cell"> <span class="status"><%= order_line.status %></span> </td>

</tr>
<tr>
    <td colspan="<%= colspan %>" class="order-line-info hide">
        <div class="accordion-body collapse" id="collapse<%= order_line.id %>">
            <!--<h4>Order line details</h4>-->
          <div class="order-line-info span11">
            <% if order_line.order.attachment? %>
                <h5>Order Attachment: <%= link_to order_line.order.attachment_file_name, order_line.order.attachment.url %></h5>
            <% end %>
            <% if order_line.comment? %>
                <h5>Comment: <span class="no-bold"><%= order_line.comment %></span></h5>
            <% end %>
          </div>
            <div class="process-info span7">
                <h5>Process</h5>
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Process Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% order_line.order_line_process_statuses.each do |process_status| %>
                        <tr class="process_status" data-id="<%= process_status.id %>">
                          <td><%= process_status.part_process.name %></td>
                          <td>
                            <div class="btn-group line-status" data-toggle="buttons-radio">
                              <% OrderLine::STATUSES.each do |order_line_status| %>
                                  <% extra_class = "" %>
                                  <% if order_line_status == process_status.status %>
                                      <% extra_class = "active" %>
                                      <% if process_status.status == "pending" %>
                                          <% extra_class = extra_class + " btn-warning" %>
                                      <% end %>
                                      <% if process_status.status == "in progress" %>
                                          <% extra_class = extra_class + " btn-info" %>
                                      <% end %>
                                      <% if process_status.status == "completed" %>
                                          <% extra_class = extra_class + " btn-success" %>
                                      <% end %>
                                  <% end %>
                                  <button class="btn btn-small <%= extra_class %>"><%= order_line_status %></button>
                              <% end %>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
            <div class="hardware-info span4">
                <h5>Hardware</h5>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Hardware Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order_line.part.required_hardwares.each do |hardware| %>
                            <tr>
                              <td><%= hardware.hardware.name %></td>
                              <td><%= hardware.quantity %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
