<%= simple_form_for(@hardware, :remote => true, :html => { :class => 'form-horizontal condensed-form' }) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.association :hardware_category, :label => "Category", :collection => HardwareCategory.order("LOWER(name)").all,
                      :input_html => {:"data-placeholder" => "Choose a category"} %>
    <%= f.input :name %>
    <%= f.input :vendor_name, :label => "Vendor I", :input_html => {:class => "short"} %>
    <%= f.input :pricing_i, :label => "Vendor II", :input_html => {:class => "short"} %>
    <%= f.input :pricing_history, :label => "Inventory", :input_html => {:class => "short"} %>
    <%= f.input :description, :label => "Notes" %>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

