<%= simple_form_for(@hardware, :remote => true, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :vendor_name, :label => "Vendor I" %>
    <%= f.input :pricing_i, :label => "Vendor II" %>
    <%= f.input :pricing_history, :label => "Inventory" %>
    <%= f.input :description, :label => "Notes" %>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

