<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Edit Hardware</h3>
</div>

<%= render 'form' %>


<table class="table">
  <thead>
    <tr>
      <th><%= sortable "clients.name", "Customer" %></th>
      <th><%= sortable "order_id", "P/O Number" %></th>
      <th>Part Number</th>
      <th>Quantity</th>
      <th><%= sortable "due_date" %></th>
      <th>Comment</th>
      <th>Production Comment</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% if @order_lines.length > 0 %>
        <%= render :partial => 'order_lines/order_line', :collection => @order_lines, :locals => { :show_client => true } %>
      <% else %>
        <%= render :partial => 'order_lines/no_orders', :locals => { :show_client => true } %>
      <% end %>
  </tbody>
</table>
