<h1>Hardware</h1>

<%= render 'search_form' %>
<%= link_to 'New Hardware', "/hardwares/new?no_layout=1", :class => 'btn btn-primary pull-right mrx modal-trigger'%>




<% if params.fetch(:hardware, {})[:query].present? %>
    <div class="row">
      <div class="span9 mbxx">
        your search for <em><strong>"<%= params[:hardware][:query] %>"</strong></em>  returned <strong><%= pluralize(@hardwares.count, 'result') %></strong>
      </div>
    </div>
<% end %>

<table class="table table-bordered">
  <thead>
      <tr>
        <th class="fixed">Name</th>
        <th>Total Pending</th>
        <th>Vendor Name</th>
        <th>Pricing I</th>
        <th>Pricing History</th>
        <th>Notes</th>
        <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody>
  <% if @hardwares.length > 0 %>
      <% @hardwares.each do |hardware| %>
          <tr>
            <% if (hardware.order_lines.not_shipped.length > 0) %>
                <td class="fixed"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= hardware.id %>"><i class="icon-plus"></i><%= hardware.name %></a></td>
            <% else %>
                <td class="fixed"><%= hardware.name %></td>
            <% end %>
            <td><%= number_with_delimiter(hardware.required_count(:shipped => false)) %></td>
            <td class="editable comment" data-headers="/hardwares/update_hardware"  id="vendor_name-<%= hardware.id %>"><%= hardware.vendor_name %></td>
            <td class="editable comment" data-headers="/hardwares/update_hardware"  id="pricing_i-<%= hardware.id %>"><%= hardware.pricing_i %></td>
            <td class="editable comment" data-headers="/hardwares/update_hardware"  id="pricing_history-<%= hardware.id %>"><%= hardware.pricing_history %></td>
            <td class="editable comment" data-headers="/hardwares/update_hardware"  id="description-<%= hardware.id %>"><%= hardware.description %></td>
            <td class="actions">
              <%= link_to hardware, :class => 'btn btn-small btn-info', :title => 'Show' do%>
                  <i class="icon-folder-open"></i>
              <% end %>
              <%= link_to edit_hardware_path(hardware)+"?no_layout=1", :class => 'btn btn-small modal-trigger', :title => 'Edit' do%>
                  <i class="icon-edit"></i>
              <% end %>
              <%= link_to hardware, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
                  <i class="icon-trash" alt="delete"></i>
              <% end %>
            </td>
          </tr>
          <% if (hardware.order_lines.not_shipped.length > 0) %>
              <tr>
                <td colspan="7" class="order-line-info hide">
                  <div class="accordion-body collapse" id="collapse<%= hardware.id %>">
                    <table class="table table-bordered table-condensed">
                      <thead>
                      <tr>
                        <th>P/O #</th>
                        <th>Client</th>
                        <th>Part #</th>
                        <th>Qty</th>
                        <th>Total Qty</th>
                        <th>Due Date</th>
                        <th>Ship Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <%= render :partial => 'order_lines/order_line_simple',
                                 :collection => hardware.order_lines.not_shipped,
                                 :as => 'order_line',
                                 :locals => {:hardware => hardware, :view => 'hardware'} %>
                      </tbody>
                    </table>

                  </div>
              </tr>
          <% end %>
      <% end %>
  <% else %>
    <tr>
      <td colspan="7">There is no hardware</td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @collection, :renderer => BootstrapPagination::Rails %>




