<h1>Listing hardwares</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @hardwares.each do |hardware| %>
  <tr>
    <td><%= hardware.name %></td>
    <td><%= hardware.description %></td>
    <td>
      <%= link_to 'Show', hardware, :class => 'btn btn-mini' %>
      <%= link_to 'Edit', edit_hardware_path(hardware), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hardware', new_hardware_path, :class => 'btn btn-primary' %>
