<h1>Hardware</h1>

<%= render 'search_form' %>
<%= link_to 'New Hardware', "/hardwares/new?no_layout=1", :class => 'btn btn-primary pull-right mrx modal-trigger'%>


<% if @hardwares.length > 0 %>

    <% if params.fetch(:hardware, {})[:query].present? %>
        <div class="row">
          <div class="span9 mbxx">
            your search for <em><strong>"<%= params[:hardware][:query] %>"</strong></em>  returned <strong><%= pluralize(@hardwares.count, 'result') %></strong>
          </div>
        </div>
    <% end %>

    <table class="table table-striped">
      <thead>
          <tr>
            <th>Hardware Name</th>
            <th>Required pending count</th>
            <th class="actions">&nbsp;</th>
          </tr>
      </thead>
      <tbody>
      <% @hardwares.each do |hardware| %>
          <tr>
            <td><%= link_to hardware.name, edit_hardware_path(hardware)%></td>
            <td><%= hardware.required_count(:shipped => false) %>
            <td class="actions">
              <%= link_to 'Edit', edit_hardware_path(hardware)+"?no_layout=1", :class => 'btn btn-small modal-trigger'%>
              <%= link_to 'Delete', hardware, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= will_paginate @collection, :renderer => BootstrapPagination::Rails %>
<% else %>
    <div class="row">
      <div class="span9 mbxx">
        There are no results
      </div>
    </div>
<% end %>


