<h1>Hardware</h1>

<%= render 'search_form' %>
<%= link_to 'View Categories', hardware_categories_path, :class => 'btn pull-right mrx mbxx'%>
<%= link_to 'New Hardware', "/hardwares/new?no_layout=1", :class => 'btn btn-primary pull-right mrx modal-trigger'%>

<% if params.fetch(:hardware, {})[:query].present? %>
    <div class="row">
      <div class="span9 mbxx">
        your search for <em><strong>"<%= params[:hardware][:query] %>"</strong></em>  returned <strong><%= pluralize(@hardwares.count, 'result') %></strong>
      </div>
    </div>
<% end %>

<table class="table table-bordered">
  <thead>
      <tr>
        <th>Name</th>
        <th>Total Pending</th>
        <th>Inventory</th>
        <th>Notes</th>
        <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody>
  <% if @hardwares.length > 0 %>
    <% hardware_category_name = "" %>
      <% @hardwares.each do |hardware| %>
          <% if hardware.hardware_category.name != hardware_category_name %>
            <tr>
              <td colspan="5" class="category"><%= hardware.hardware_category.name %> <a href="#" class="show-all pull-right" data-id="<%= hardware.hardware_category.id %>">Show/Hide All</a> </td>
            </tr>
            <% hardware_category_name = hardware.hardware_category.name %>
          <% end %>
          <% any_pending = hardware.order_lines.pending.any? %>
          <tr data-id="<%= hardware.hardware_category.id %>" <% if !any_pending %>class="collapsible no-orders"<% end %>>
            <% if any_pending %>
                <td class="fixed"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= hardware.id %>"><i class="icon-plus"></i><%= hardware.name %></a></td>
            <% else %>
                <td class="fixed"><%= hardware.name %></td>
            <% end %>
            <td><%= number_with_delimiter(hardware.required_count(:shipped => false)) %></td>
            <td class="editable large2" data-headers="/hardwares/update_hardware"  id="pricing_history-<%= hardware.id %>"><%= hardware.pricing_history %></td>
            <td class="editable large2" data-headers="/hardwares/update_hardware"  id="description-<%= hardware.id %>"><%= hardware.description %></td>
            <td class="actions">
              <%= link_to hardware, :class => 'btn btn-small btn-info', :title => 'Show' do%>
                  <i class="icon-folder-open"></i>
              <% end %>
              <%= link_to edit_hardware_path(hardware)+"?no_layout=1", :class => 'btn btn-small modal-trigger', :title => 'Edit' do%>
                  <i class="icon-edit"></i>
              <% end %>
              <%= link_to hardware, method: :delete, data: { confirm: "Are you sure you want to delete this hardware? \n" + hardware.name }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
                  <i class="icon-trash" alt="delete"></i>
              <% end %>
            </td>
          </tr>
          <% if hardware.order_lines.not_shipped.any? %>
              <tr>
                <td colspan="7" class="order-line-info hide">
                  <div class="accordion-body collapse" id="collapse<%= hardware.id %>" data-headers="/hardwares/<%= hardware.id %>/accordion_details">
                  </div>
              </tr>
          <% end %>
      <% end %>
  <% else %>
    <tr>
      <td colspan="7">There is no hardware</td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @collection, :renderer => BootstrapPagination::Rails %>
