<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hardware.name %>
</p>

<p>
  <b>Description:</b>
  <%= @hardware.description %>
</p>


<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
