<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Cool Innovations</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li <% if current_page?(:controller => 'orders') %>class="active"<% end%>><%= link_to "Orders", orders_path %></li>
          <li <% if current_page?(:controller => 'parts') %>class="active"<% end%>><%= link_to "Parts", parts_path %></li>
          <li <% if current_page?(:controller => 'hardwares') %>class="active"<% end%>><%= link_to "Hardwares", hardwares_path %></li>
          <li <% if current_page?(:controller => 'part_processes') %>class="active"<% end%>><%= link_to "Processes", part_processes_path %></li>
          <li <% if current_page?(:controller => 'clients') %>class="active"<% end%>><%= link_to "Clients", clients_path%></li>
        </ul>
      </div>
    </div>
  </div>
</div>