<!DOCTYPE html>
<html>
<head>
  <title>Cool Innovations - Station</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= params[:controller] %>">
  <div class="container">
    <div class="row">
      <div>
        This is a station layout.
      </div>

      <div class="span12">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">×</a>
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>

  <%= content_for :pushed_javascript %>

  <div class="modal hide fade" id="modal-container">
    <div class="spinner"></div>
  </div>
</body>
</html>
